<strong>Olá, {{student}}</strong>
<p>Você recebeu uma resposta para sua questão.</p>
<p>
  Questão número: {{answerId}}<br/>
  <br />
  <strong>Pergunta: </strong>{{question}}<br/>
  <strong>Resposta: </strong>{{answer}}
  <br/>
  <br/>
  <small>Respondido em: {{answerAt}}</small>
  <br />
  <small>
    Se tiver mais dúvidas ficamos à sua disposição!
  </small>

</p>
