<strong>Olá {{ student }}!</strong>
<p>
  Você acaba de adquirir ao plano <strong>{{ plan }}</strong> com duração de
  <strong>{{ duration }} meses</strong> pelo valor mensal de
  <strong>{{ price }}</strong>.<br>
  Este plano será válido até <strong>{{end_date}}</strong>.<br>
</p><br><br>
<strong><h2>Seja muito bem vindo(a)!!!</h1></strong>


