<strong>Olá, {{student}}</strong>
<p>Seja muito bem vindo(a) Gympoint Academy</p>
<p>
  Você acaba de assinar o seguinte plano:<br/>
  <br />
  <strong>Plano: </strong>{{plan}}<br/>
  <strong>Prazo: </strong>{{duration}} mês(es)<br/>
  <strong>Valor do plano: </strong>R$ {{planPrice}},00 por mês<br />
  <strong>Valor total: </strong>R$ {{totalPrice}},00 <br />
  <strong>Data de início: </strong>{{inicialDate}} <br />
  <strong>Data de vencimento: </strong>{{finalDate}} <br />
  <br />
  <small>
    Quaisquer dúvidas, procure nossa equipe na administração da academia ou faça uma
    solictação pelo App!
  </small>

</p>
